{% extends 'shared/base_logout.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/cartas.css' %}?v=123">

        <main class="content-area">
            <aside class="sidebar">
            <a href="{% url 'gerenciarCartas' %}" class="sidebar-item">
                <div class="circle white"></div>
                <span>Caixa de entrada</span>
            </a>
            <a href="{% url 'admEscreverCarta' %}" class="sidebar-item active">
                <div class="circle yellow"></div>
                <span>Escreva uma carta</span>
            </a>
            <a href="{% url 'admProgramado' %}" class="sidebar-item">
                <div class="circle white"></div>
                <span>Programados</span>
            </a>
            <a href="{% url 'admRespondidas' %}" class="sidebar-item">
                <div class="circle white"></div>
                <span>Respondidas</span>
            </a>
            <div class="sidebar-bottom-arrow">
                <i class="fas fa-arrow-left"></i>
            </div>
        </aside>

            <section class="main-content message-compose">
               <form method="post">
                  {% csrf_token %}

                  <div class="recipient-select">
                    <input type="text" name="recipient" placeholder="Nome do padrinho para que deseja escrever..." class="text-input">
                    <i class="fas fa-chevron-down"></i>
                  </div>

                  <div class="message-send-box">
                    <input type="text" name="short_message" placeholder="Escreva sua mensagem..." class="text-input send-input">
                    <button type="submit" class="send-button">
                      <i class="fas fa-arrow-right"></i>
                    </button>
                  </div>
                </form>
            </section>
        </main>
    </div>
</body>
</html>
    {% endblock %}
