{% extends "shared/base.html" %}

{% load static %}

{% block content %}
<main>
    <h1 class="login-title">ADM login</h1>
    <div class="login-container">
        <input type="text" placeholder="Usuário" class="login-input">
        <input type="password" placeholder="Senha" class="login-input">
        <button class="login-button">Login</button>
    </div>
    <div class="navigation-buttons">
        <a href="{% url "index" %}" class="button-link">
            <button class="nav-btn">← Voltar</button>
        </a>
        <button class="nav-btn">Próximo →</button>
    </div>
</main>
{% endblock  %}