{% extends "shared/base.html" %}

{% load static %}

{% block content %}
<main>
    <div class="admin-container">
        <a href="{% url "cadastroApadrinhados" %}" class="button-link">
            <button class="admin-btn">Cadastrar novo apadrinhado</button>
        </a>
        <a href="{% url "gerenciarApadrinhados" %}" class="button-link">
            <button class="admin-btn">Gerenciar apadrinhados</button>
        </a>
    </div>
    <div class="navigation-buttons">
        <a href="{% url "admLogin" %}" class="button-link">
            <button class="nav-btn">← Voltar</button>
        </a>
        <button class="nav-btn">Próximo →</button>
    </div>
</main>
{% endblock  %}