{% extends "shared/base.html" %}
{% load static %}

{% block content %}
<main>
    <h1 class="management-title">Gerenciamento de apadrinhados</h1>
    {% comment %} {% if messages %}
        {% for message in messages %}
            <p style="color: green;">{{ message }}</p>
        {% endfor %}
    {% endif %} {% endcomment %}
    <div class="children-grid">
        {% for apadrinhado in apadrinhados %}
        <a href="{% url 'informacoesApadrinhados' apadrinhado.nome %}" class="child-card-link">
            <div class="child-card">
                {% if apadrinhado.foto %}
                <div class="photo-placeholder">
                    <img src="{{ apadrinhado.foto.url }}" alt="Foto de {{ apadrinhado.nome }}" style="width: 100%; height: 100%; object-fit: cover; border-radius: 10px;">
                </div>
                {% else %}
                <div class="photo-placeholder"></div>
                {% endif %}
                <p class="child-name">{{ apadrinhado.nome }} - {{ apadrinhado.idade }} anos</p>
            </div>
        </a>
        {% empty %}
        <p>Nenhum apadrinhado cadastrado ainda.</p>
        {% endfor %}

    </div>
    <div class="navigation-buttons">
        <a href="{% url 'admMain' %}" class="button-link">
            <button class="nav-btn">← Voltar</button>
        </a>
    </div>
</main>
{% endblock %}
