{% extends "shared/base.html" %}

{% load static %}

{% block content %}
<main>
    <div class="buttons-container">
        <button class="login-btn">
            Já sou padrinho!
            <span class="sub-text">Faça login</span>
        </button>
        <button class="register-btn">
            Torne-se padrinho!
            <span class="sub-text">Cadastre-se</span>
        </button>
    </div>
    <div class="adm-container">
        <button class="adm-btn">ADM</button>
    </div>
</main>
{% endblock %}