{% extends "shared/base.html" %}

{% load static %}

{% block content %}

<main>
    <h1 class="register-title">Informações sobre o apadrinhado</h1>
    <p class="register-subtitle">Responda as questões e nos conte um pouco sobre o apadinhado, ideais, sonhos etc</p>
    <div class="register-container">
        {% if messages %}
            {% for message in messages %}
                <p style="color: green;">{{ message }}</p>
            {% endfor %}
        {% endif %}
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="register-grid">
                <div class="input-group">
                    <label>Foto Real</label>
                    <input type="file" name="foto" class="register-input file-input" accept="image/*">
                  </div>
                  <div class="input-group">
                    <label>Foto exibida para padrinho</label>
                    <input type="file" name="foto_para_padrinho" class="register-input file-input" accept="image/*">
                  </div>
                <!-- primeira combo box -->
                <div class="input-group">
                    <label>Como você se descreve no seu dia a dia?</label>
                    <div class="combo-container">
                      <select name="estilo_vida" class="register-input combo-select" onchange="toggleOtherInput(this)" required>
                        <option value="1">Gosto de conversar, contar histórias e estar perto de gente</option>
                        <option value="2">Sou mais tranquilo(a), prefiro ouvir e observar</option>
                        <option value="3">Penso bastante antes de agir, gosto de entender bem as coisas</option>
                        <option value="4">Tenho uma mente cheia de sonhos e ideias</option>
                        <option value="5">Me preocupo muito com os outros e gosto de ajudar sempre que posso</option>
                      </select>
                    </div>
                  </div>
                <!-- segunda combo box -->
                <div class="input-group">
                    <label>Na escola, qual área mais te chamava atenção?</label>
                    <div class="combo-container">
                        <select name="materia_preferida" class="register-input combo-select" onchange="toggleOtherInput(this)">
                            <option value="1">Números, cálculos e raciocínio lógico</option>
                            <option value="2">A natureza, os experimentos e o funcionamento das coisas</option>
                            <option value="3">Escrever, ler, se comunicar</option>
                            <option value="4">Aprender sobre o mundo, lugares, pessoas e suas histórias</option>
                            <option value="5">Criar com arte, desenhar, tocar instrumentos, inventar coisas</option>
                        </select>
                    </div>
                </div>
                <!-- terceira combo box -->
                <div class="input-group">
                    <label>E no tempo livre, o que te dá mais prazer fazer?</label>
                    <div class="combo-container">
                        <select name="tempo_livre" class="register-input combo-select" onchange="toggleOtherInput(this)">
                            <option value="1">Praticar esportes, caminhar, me movimentar</option>
                            <option value="2">Assistir algo, ler ou buscar aprender novas coisas</option>
                            <option value="3">Fazer algo com as mãos, desenhar, pintar, montar</option>
                            <option value="4">Jogar, seja no videogame, celular ou em jogos de tabuleiro</option>
                            <option value="5">Cuidar da casa, das plantas, dos bichinhos ou das pessoas próximas</option>
                        </select>
                    </div>
                </div>
                <!-- quarta combo box -->
                <div class="input-group">
                    <label>Qual dessas coisas mais te inspira hoje?</label>
                    <div class="combo-container">
                        <select name="inspiracao" class="register-input combo-select" onchange="toggleOtherInput(this)">
                            <option value="1">Ajudar alguém e causar um impacto positivo na vida dela</option>
                            <option value="2">Conhecer novas culturas, lugares e formas de ver o mundo</option>
                            <option value="3">Ter uma vida tranquila e próxima de quem eu amo</option>
                            <option value="4">Trabalhar com o que eu gosto e me sentir valorizado(a)</option>
                            <option value="5">Aprender constantemente e crescer como pessoa</option>
                        </select>
                    </div>
                </div>
                <!-- quinta combo box -->
                <div class="input-group">
                    <label>E pra fechar, qual desses valores mais representa você?</label>
                    <div class="combo-container">
                        <select name="representa" class="register-input combo-select" onchange="toggleOtherInput(this)">
                            <option value="1">Empatia – me importo e tento entender o outro</option>
                            <option value="2">Coragem – encaro desafios mesmo com medo</option>
                            <option value="3">Paciência – sei respeitar o tempo das coisas</option>
                            <option value="4">Dedicação – me entrego de verdade no que faço</option>
                            <option value="5">Alegria – tento sempre espalhar boas energias por onde passo</option>
                        </select>
                    </div>
                </div>
                <!-- sexta combo box se precisar -->
                <div class="input-group">
                    <label>Palavras chave</label>
                    <div class="combo-container">
                        <input type="text" name="palavras_chave" class="register-input other-input">
                    </div>
                </div>
            </div>
            <button type="submit" class="submit-btn">Salvar Informações</button>
        </form>
    </div>
    <div class="navigation-buttons register-nav">
        <a href="{% url 'cadastroApadrinhados' %}" class="button-link">
            <button class="nav-btn">← Voltar</button>
        </a>
    </div>
</main>

{% endblock  %}