{% extends "shared/base.html" %}
{% load static %}

{% block content %}
<main>
    <h2 class="login-title">Faça seu login</h2>

    <div class="login-container">
        {% comment %} {% if messages %}
            {% for message in messages %}
                <p style="color: rgb(255, 0, 0);">{{ message }}</p>
            {% endfor %}
        {% endif %} {% endcomment %}
        <form method="POST">
            {% csrf_token %}
            <input type="email" name="email" placeholder="Email" class="login-input" required>
            <input type="password" name="password" placeholder="Senha" class="login-input" required>
            <button type="submit" class="login-button">Login</button>
        </form>
        <p class="signup-text" style="text-align: center; margin-top: 1rem;">
            Ainda não é padrinho?<br>
            <a href="{% url 'cadastroPadrinhos' %}">Inscreva-se aqui!</a>
        </p>
    </div>

    <div class="navigation-buttons" style="justify-content: center;">
        <a href="{% url "index" %}" class="button-link">
            <button class="nav-btn">← Voltar</button>
        </a>
    </div>
</main>
{% endblock %}
