{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CyberDunk - Editar Post</title>
    <link rel="stylesheet" href="{% static 'css/adm.css' %}?v=123">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
</head>
<body>
    {% include "partials/head_logout.html" %}

    <div class="container">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="sidebar">
                <div>
                    <footer class="footer-nav-button" style="margin-bottom: 20px; text-align: center;">
    <a href="{% url 'admHome' %}">
      <img src="{% static 'img/btn-voltar.svg' %}" alt="Voltar para a Pergunta Anterior" class="back-icon" style="width: 40px; height: 40px;">
    </a>
  </footer>
                    <div class="sidebar-block-secondary" style="margin-top: 20px;"></div>
                </div>
                <div style="display: flex; flex-direction: column; gap: 10px;">
                    <button type="submit" name="delete" class="action-button-bottom button-delete">Excluir</button>
                    <button type="submit" name="save" class="action-button-bottom button-save">Salvar alterações</button>
                </div>
            </div>

            <main class="main-content main-content-new-post">
                <input type="text" name="titulo" class="input-full-width primary-input-field"
                       placeholder="Afiliado host do post / Post instituto"
                       value="{{ post.titulo }}">
                
                <textarea name="conteudo" class="textarea-full-width primary-textarea-field"
                          placeholder="">{{ post.conteudo }}</textarea>
                

                <label style="margin-top: 15px; display: block;">Foto da publicação:</label>
                <input type="file" name="foto" accept="image/*">
                {% if post.foto %}
                    <p>Foto atual:</p>
                    <img src="{{ post.foto.url }}" alt="Foto atual" style="width: 200px; border-radius: 10px;">
                {% endif %}
            </main>
        </form>
    </div>
</body>
</html>