{% extends 'shared/base_logout.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/adm-feed.css' %}?v=124">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />

<div class="page-container">
    <!-- Sidebar -->
    <a href="{% url 'admHome' %}" class="back-button">
        <img src="{% static 'img/btn-voltar.svg' %}" alt="Voltar para o painel" class="back-icon">
        </a>

    <!-- Main content -->
    <div class="content-area">

        <!-- Posts -->
        <div class="posts-grid">
            <div class="filters">
            <input type="text" id="search-input" placeholder="Filtrar por título">
        </div>
            {% for pub in publicacoes %}
            <div class="post-card" data-title="{{ pub.titulo|lower }}">
                <div class="post-left">
                    {% if pub.foto %}
                    <img src="{{ pub.foto.url }}" alt="Foto da publicação" class="post-image">
                    {% endif %}
                </div>
                <div class="post-right">
                    <h2 class="post-title">{{ pub.titulo }}</h2>
                    <p>{{ pub.conteudo }}</p>
                    <p class="post-date">{{ pub.data_envio }}</p>
                    <a href="{% url 'admEditarPost' pub.id %}" class="manage-post-button">Gerenciar post</a>
                </div>
            </div>
            {% empty %}
            <p>Nenhuma publicação encontrada.</p>
            {% endfor %}
        </div>
    </div>
</div>

<!-- Add Button -->
<a href="{% url 'novoPost' %}" class="add-button material-symbols-outlined">add</a>

<script>
document.addEventListener("DOMContentLoaded", () => {
    const searchInput = document.getElementById("search-input");
    if (searchInput) {
        searchInput.addEventListener("input", function () {
            const query = this.value.toLowerCase();
            const posts = document.querySelectorAll(".post-card");

            posts.forEach(post => {
                const title = post.querySelector(".post-title").innerText.toLowerCase();
                post.style.display = title.includes(query) ? "flex" : "none";
            });
        });
    }
});
</script>
{% endblock %}
