{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Pagamento</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}?v=123">
</head>
<body>
    {% include 'partials/new_header.html' %}

    <div class="pagamento-wrapper">
        <h2>Escolha a forma de pagamento para afiliar {{ apadrinhado.nome }}</h2>

        <div class="pagamento-opcoes">
            <a href="{% url 'padrinhoFeed' %}" class="pagamento-btn">PIX</a>
            <a href="{% url 'padrinhoFeed' %}" class="pagamento-btn">Cartão de Crédito / Débito</a>
            <a href="{% url 'padrinhoFeed' %}" class="pagamento-btn">Boleto</a>
        </div>
    </div>

    <footer class="footer-home-button">
        <a href="{% url 'padrinhoEscolherApadrinhado' %}">
            <img src="{% static 'img/btn-voltar.svg' %}" alt="Voltar" class="back-icon">
        </a>
    </footer>
</body>
</html>
