{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Escolha seu Apadrinhado</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}?v=123">
</head>
<body>
    {% include 'partials/new_header.html' %}

    <h2 style="text-align:center">Escolha um apadrinhado</h2>

    {% if apadrinhados %}
    <div class="apadrinhados-grid">
        {% for a in apadrinhados %}
        <div class="apadrinhado-card">
            <img src="{{ a.foto.url }}" alt="Foto de {{ a.nome }}">
            <h3>{{ a.nome }}</h3>
            <p><strong>Idade:</strong> {{ a.idade }} anos</p>

            <div class="gostos">
                {% if a.hobby_nome %}<p><strong>Hobby:</strong> {{ a.hobby_nome }}</p>{% endif %}
                {% if a.inspiracoes_nome %}<p><strong>Inspirações:</strong> {{ a.inspiracoes_nome }}</p>{% endif %}
                {% if a.valores_nome %}<p><strong>Valores:</strong> {{ a.valores_nome }}</p>{% endif %}
                {% if a.area_escolar_nome %}<p><strong>Área escolar:</strong> {{ a.area_escolar_nome }}</p>{% endif %}
                {% if a.profissao_desejada_nome %}<p><strong>Profissão desejada:</strong> {{ a.profissao_desejada_nome }}</p>{% endif %}
                {% if a.info_texto %}<p><strong>Meu sonho: </strong> {{ a.info_texto }}</p>{% endif %}
            </div>

            <a href="{% url 'padrinhoDoacao' a.id %}" class="afiliar-btn">Afiliar</a>
        </div>
        {% endfor %}
    </div>
    {% else %}
        <p style="text-align:center; margin-top: 20px;">Nenhum apadrinhado disponível no momento.</p>
    {% endif %}

    <footer class="footer-home-button">
        <a href="{% url 'padrinhoCadastro' %}">
            <img src="{% static 'img/btn-voltar.svg' %}" alt="Voltar" class="back-icon">
        </a>
    </footer>
</body>
</html>
