<header style="background-color: #356a94; padding: 1rem 0; text-align: center; position: relative;">
    <!-- Logo -->
    <div style="display: inline-block; background-color: #ffffff; border-radius: 50%; width: 50px; height: 50px; line-height: 50px; font-weight: bold;">
        logo
    </div>

    <!-- Botão de Sair -->
    <div style="position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);">
        <a href="{% url 'home' %}" style="
            font-weight: 500;
            text-decoration: none;
            color: #FFD02F;
            background-color: transparent;
            border: 2px solid #FFD02F;
            padding: 5px 12px;
            border-radius: 8px;
            transition: all 0.3s ease;"
            onmouseover="this.style.backgroundColor='#FFD02F'; this.style.color='white';"
            onmouseout="this.style.backgroundColor='transparent'; this.style.color='#FFD02F';"
        >Log out</a>
    </div>
</header>
