{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Nosso sonho</title>
    <link rel="icon" href="{% static "img\logo.png" %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    {% include 'partials/new_header.html' %}

    <div class="cadastro-wrapper">
        <div class="cadastro-container">
            <p class="explicativo-text">
    Antes de apadrinhar você vai <strong>responder 5 perguntas rápidas</strong> sobre você e criar seu cadastro. <br>Após essas etapas, será redirecionado para uma <strong>página de doação.</strong> <br>Com a doação concluída, <strong>você se torna oficialmente um padrinho do projeto!</strong>
</p>

            <a href="{% url "padrinhoQuestionario" 0 %}" class="btn-continue">Continue</a>
        </div>
    </div>

    <footer class="footer-home-button">
        <a href="{% url 'padrinhoLogin' %}">
            <img src="{% static 'img/btn-voltar.svg' %}" alt="Voltar para a Home" class="back-icon">
        </a>
    </footer>
</body>
</html>
