{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Nosso sonho</title>
    <link rel="icon" href="{% static "img\logo.png" %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}?v=123">
</head>
<body>
    {% include 'partials/new_header.html' %}

    <div class="pagamento-wrapper">
        <h2>Escolha a forma de pagamento para afiliar {{ apadrinhado.nome }}</h2>

        <div class="pagamento-container">
            <div class="pagamento-opcoes">
                <button class="pagamento-opcao-btn" onclick="finalizarPagamento('PIX')">PIX</button>
                <button class="pagamento-opcao-btn" onclick="finalizarPagamento('Cartão')">Cartão de Crédito / Débito</button>
                <button class="pagamento-opcao-btn" onclick="finalizarPagamento('Boleto')">Boleto</button>
            </div>
        </div>
    </div>

    <footer class="footer-home-button">
        <a href="{% url 'padrinhoEscolherApadrinhado' %}">
            <img src="{% static 'img/btn-voltar.svg' %}" alt="Voltar" class="back-icon">
        </a>
    </footer>

    <script>
        function finalizarPagamento(value) {
            // Simular um "pagamento"
            const confirmar = confirm(`Deseja realmente realizar o pagamento via ${value}?`);
            if (!confirmar) return;

            fetch("", {
                method: "POST",
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}",
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ pagamento: value })
            })
            .then(resp => {
                if (resp.ok) {
                    window.location.href = "{% url 'padrinhoFeed' %}";
                } else {
                    alert("Erro ao processar pagamento.");
                }
            })
            .catch(() => alert("Erro ao conectar com o servidor."));
        }
    </script>
</body>
</html>
