{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Nosso sonho</title>
    <link rel="icon" href="{% static "img\logo.png" %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}?v=123">
</head>
<body>
    {% include 'partials/new_header.html' %}

    <div class="login-wrapper">
        <div class="container">
            <h2 class="login-title">Faça seu login</h2>
            {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="message {{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
            <div class="login-form">
                <form method="POST">
                    {% csrf_token %}
                    <label for="username" class="form-label">Usuário</label>
                    <input type="text" id="username" name="username" class="form-input">

                    <label for="password" class="form-label">Senha</label>
                    <input type="password" id="password" name="password" class="form-input">

                    <button type="submit" class="btn-login">Login</button>
                </form>
            </div>

            <div class="register">
                Ainda não é padrinho?
                <a href="{% url 'padrinhoCadastroExplicativo' %}" class="register-link">Inscreva-se aqui!</a>
            </div>
        </div>
    </div>

    <footer class="footer-home-button">
        <a href="{% url 'home' %}">
            <img src="{% static 'img/btn-voltar.svg' %}" alt="Voltar para a Home" class="back-icon">
        </a>
    </footer>
</body>
</html>
