{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Nosso sonho</title>
    <link rel="icon" href="{% static "img\logo.png" %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    {% include 'partials/new_header.html' %}

    <div class="question-wrapper">
        <div class="question-container">
            <div class="question-text">
                {{ pergunta_texto }}
            </div>

            <div class="answer-box">
                <label for="resposta" class="form-label">Selecione sua resposta:</label>
                <select id="resposta" name="resposta" class="form-select">
                    {% for i, opcao in opcoes_resposta %}
                        <option value="{{ i }}">{{ opcao }}</option>
                    {% endfor %}
                </select>
            </div>

            <button class="btn-continue" onclick="irParaProximaPergunta()">Continue</button>
        </div>
    </div>

    <div class="progress-indicator">
        {% for i in perguntas_range %}
            <div class="progress-dot {% if i == pergunta_atual %}active{% endif %}"></div>
        {% endfor %}
    </div>

    <footer class="footer-nav-button">
        <a href="{{ pergunta_anterior_url }}">
            <img src="{% static 'img/btn-voltar.svg' %}" alt="Voltar para a Pergunta Anterior" class="back-icon">
        </a>
    </footer>
<script>
function irParaProximaPergunta() {
    const select = document.getElementById('resposta');
    const respostaSelecionada = select.value;

    const perguntaAtual = {{ pergunta_atual }};
    const total = {{ total_perguntas }};

    localStorage.setItem(perguntaAtual, respostaSelecionada);

    if (perguntaAtual < total) {
        window.location.href = `/padrinho/questionario/${perguntaAtual}/`;
    } else {
        // Montar dicionário de respostas
        const respostas = {};
        for (let i = 1; i <= total; i++) {
            respostas[i] = localStorage.getItem(i);
        }


        // Enviar via POST
        fetch("{% url 'padrinhoSalvarRespostas' %}", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": "{{ csrf_token }}"
            },
            body: JSON.stringify(respostas)
        })
        .then(resp => resp.json())
        .then(data => {
            if (data.status === "ok") {
                window.location.href = "/padrinho/criar-usuario/";
                localStorage.clear()
            } else {
                alert("Erro ao salvar as respostas.");
            }
        })
        .catch(err => {
            console.error(err);
            alert("Erro ao enviar as respostas.");
        });
    }
}
</script>

</body>
</html>
